body{
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f7f7f7;
  background-image: url('../CTU_logo.png');
  background-repeat: no-repeat;
  background-position: center;
  display: grid;
  grid-template-columns: 1fr; 
  grid-template-rows: 800px 1fr; 
  grid-template-areas:
    "logo"
    "content"; 
    margin-top: 0;
}

  .container {
  grid-area: content; /* This will place the container in the content area */
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin-top: 1vh 5%;
  }
  
  h1 {
    text-align: center;
    color: #333;
  }
  
  .attendance {
    margin-top: 30px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  input[type="checkbox"] {
    transform: scale(1.5);
  }
  