section{
    margin-bottom: 0;
}
.intro{
    margin-left:4%;

}
.intro p{
    font-size: 100px;
    color: red;
}
#desc{
    margin: 4%;
}
.company{
    background-color: cadetblue;
    height: 30vmax;
    font-size: 20px;
    margin: 4%;
    overflow: auto;
    margin-bottom: 0;
    display: grid;
    place-items: left;
}
.company_name{
    width: 50%;
    height: auto;
    background-color: aquamarine;
    padding: 2%;
    margin: 2%;

    position: relative;
}
.company_desc ul{
    margin: 4%;
    padding: 1rem;
    list-style-type: none;

}
.image img{
    float:left;
    width: 40%;
    height: auto;
    margin: 2%;
    
}

.card {
    position: absolute; /* Set the card container to absolute positioning */
    top: 0; /* Position it at the top of the parent container */
    right: -250px; /* Adjust the distance from the right side of the parent container */
    width: 200px; /* Set the width of the card */
    background-color: #f9f9f9; /* Background color */
    border: 1px solid #ddd; /* Border */
    padding: 10px; /* Padding */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); /* Box shadow */
}

#card_container {
    text-align: center; /* Center text */
}

#card_container h4 {
    margin: 0; /* Remove margin for the heading */
}

#card_container p {
    margin: 10px 0; /* Add margin to the paragraph */
}